@keyframes contentIn {
  from {
    transform: translateY(2rem);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes indicatorIn {
  from {
    transform: translateY(-2rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.indicator {
  opacity: 0;
  transform: translateY(-2rem);
  animation: indicatorIn var(--transition--standard) forwards;
  animation-delay: var(--transition--slow);
}

.content {
  opacity: 0;
  transform: translateY(2rem);
  animation: contentIn var(--transition--standard) forwards;
  animation-delay: var(--transition--fast);
}
