@use 'scss-reset';

:root {
  // Color palette
  --color--black: #0f0f0f;
  --color--blue: #0000ff;
  --color--white: #fff;

  // Typography
  --font--mono: 'Consolas', monospace;

  // Spacing
  --padding--small: 1rem;
  --padding--medium: 2rem;

  // Transitions
  --transition--fast: 0.15s;
  --transition--standard: 0.25s;
  --transition--slow: 0.5s;
}

html,
body,
#root {
  height: 100dvh;
  width: 100dvw;
  font-size: 16px;
  background-color: var(--color--black);
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 600px) {
    // Allow rem based values to scale down for smaller viewports
    font-size: 14px;
  }
}

button:focus-visible {
  outline-width: 1px;
  outline-color: var(--color--blue);
  outline-style: dashed;
  outline-offset: 3px;
}
