.layout {
  flex: 1 1 100%;
  display: flex;
  width: 100%;
}

.copy {
  margin-top: auto;
  margin-left: auto;
  padding-right: calc(var(--padding--page) * 2);
  padding-bottom: calc(var(--padding--page) * 2);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 2rem;
  font-size: 0.875rem;
  align-self: flex-end;
  max-width: 650px;

  p {
    line-height: 1.5;
    font-family: var(--font--mono);
  }

  @media screen and (max-width: 768px) {
    margin-left: 0;
    margin-top: 0;
    align-self: center;
    padding: calc(var(--padding--page) * 2);
  }

  @media screen and (max-width: 600px) {
    font-size: 1rem;
    row-gap: 1.5rem;
  }
}
