.paintingDescription {
  font-family: var(--font--mono);
  line-height: 1.5;
  font-size: 1rem;
  text-align: right;
  margin-top: auto;
  margin-top: 2rem;
  max-width: 625px;
  padding: 0.5rem;
  color: var(--color--white);
  background-color: var(--color--black);
}
