.container {
  --padding: 1rem;
  --header-size: 18px;
  --body-size: 16px;

  @media screen and (max-width: 600px) {
    --padding: 0.5rem;
    --header-size: 16px;
    --body-size: 14px;
  }

  flex: 1 1 100%;
  width: 100%;
  padding: calc(var(--padding) * 2);
  border: 1px solid var(--color--blue);
  display: flex;
  flex-direction: column;

  header {
    font-size: var(--header-size);
    text-transform: uppercase;
    padding-bottom: var(--padding);
    border-bottom: 1px solid var(--color--black);
    color: var(--color--blue);
    font-weight: bold;
    letter-spacing: 0.1rem;
  }

  p {
    padding: var(--padding) 0;
    color: var(--color--black);
    font-size: var(--body-size);
  }

  button {
    display: block;
    padding: calc(var(--padding) * 0.5) 0 calc(var(--padding) * 0.5)
      calc(var(--padding) * 1.5);
    color: var(--color--blue);
    text-align: left;
    position: relative;
    transition:
      color 0.25s ease,
      background-color 0.25s ease;
    font-size: var(--body-size);

    &::before {
      content: '>';
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      color: currentColor;
      transform: translateY(-50%);
      transition: transform 0.25s ease;
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--color--blue);
        color: var(--color--white);

        &::before {
          transform: translate(75%, -50%);
        }
      }
    }
  }
}

.navAction {
  margin-top: auto;
}
