.page {
  height: 100dvh;
  padding: 2em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--color--offwhite);

  main {
    flex: 1 1 100%;
  }
}

.background {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  max-width: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.75;
}

.wordmark {
  width: 20dvw;
  position: absolute;
  top: 75%;
  left: 25%;
  transition: transform 0.1s ease;
  min-width: 250px;

  @media screen and (max-width: 700px) {
    width: 55dvw;
    left: 2rem;
    top: auto;
    bottom: 2rem;
    transform: none !important; // Overrides inline JS styles
    min-width: none;
  }
}
