.page {
  height: 100dvh;
  padding: var(--padding--medium);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--color--offwhite);

  main {
    flex: 1 1 100%;
  }
}

.background {
  min-width: 100%;
  min-height: 100%;
  max-width: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.75;
}

.wordmark {
  width: 20dvw;
  position: absolute;
  transition: transform 0.1s ease;
  min-width: 250px;

  @media (hover: hover) {
    path {
      transition:
        fill var(--transition--slow) ease,
        stroke var(--transition--slow) ease;
    }
    &:hover {
      path {
        fill: var(--color--blue);
        stroke: transparent;
      }
    }
  }

  // Touch device positioning, no JS transforms applied
  @media (pointer: coarse) and (hover: none) {
    transform: none !important; // Overrides any potential inline JS style
    top: 10%;
    right: 5%;

    @media screen and (max-width: 1275px) {
      top: auto;
      right: auto;
      left: var(--padding--medium);
      bottom: var(--padding--medium);
    }
  }

  // Mouse based devices, a JS transform will be applied
  @media (pointer: fine) {
    top: 15%;
    right: 0;

    @media screen and (max-width: 1275px) {
      top: auto;
      bottom: 10%;
      left: 25%;
      right: auto;
    }

    @media screen and (max-width: 700px) {
      width: 55dvw;
      left: var(--padding--medium);
      top: auto;
      bottom: var(--padding--medium);
      min-width: 0;
      transform: none !important; // Overrides inline JS styles
    }
  }
}

.loadingContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color--black);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loading {
  text-align: center;
  color: var(--color--black);
  font-family: var(--font--mono);
  font-size: 1.5rem;
  animation: darkToLight var(--transition--slow) ease-out forwards;
  animation-delay: var(--transition--standard);
}

@keyframes darkToLight {
  0% {
    color: var(--color--black);
  }
  100% {
    color: var(--color--offwhite);
  }
}
