.page {
  height: 100dvh;
  padding: 2em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--color--offwhite);

  main {
    flex: 1 1 100%;
  }
}

.background {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  max-width: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.75;
}

.wordmark {
  width: 20dvw;
  position: absolute;
  top: 15%;
  right: 0;
  transition: transform 0.1s ease;
  min-width: 250px;

  @media (hover: hover) {
    path {
      transition:
        fill var(--transition--slow) ease,
        stroke var(--transition--slow) ease;
    }
    &:hover {
      path {
        fill: var(--color--blue);
        stroke: transparent;
      }
    }
  }

  // TODO: Sort out different placements for different device types and sizes
  // Probably nest different width queries within two pointer/hover queries for easy cascading
  // @media (pointer: coarse) and (hover: none) {
  //   transform: none !important; // Overrides inline JS styles
  //   top: auto;
  //   bottom: 2rem;
  //   left: 2rem;
  // }

  @media screen and (max-width: 1275px) {
    top: 75%;
    left: 25%;
    right: auto;
  }

  @media screen and (max-width: 700px) {
    width: 55dvw;
    left: 2rem;
    top: auto;
    bottom: 2rem;
    min-width: none;
    transform: none !important; // Overrides inline JS styles
  }
}
