.container {
  --segment-size: 25px;

  background-color: var(--color--white);
  flex: none;
  width: (calc(var(--segment-size) * 3 + 1rem));
  position: absolute;
  top: 5rem;
  left: 5rem;
  padding: 0.5rem;

  @media screen and (max-width: 600px) {
    top: 2.5rem;
    left: 2.5rem;

    --segment-size: 14px;
  }
}

.map {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create a 3x3 grid */
  background-color: var(--color--white);
  width: calc(var(--segment-size) * 3);
}

.segment {
  width: var(--segment-size);
  height: var(--segment-size);
  box-sizing: border-box; /* Ensures the border is inside the size of the element */
  position: relative;
  flex: none;

  &:nth-child(2),
  &:nth-child(4),
  // &:nth-child(5),
  &:nth-child(6),
  &:nth-child(8) {
    border: 1px solid black;
  }

  &:nth-child(2) {
    bottom: -1px;
  }
  &:nth-child(8) {
    top: -1px;
  }

  &:nth-child(4) {
    right: -1px;
  }

  &:nth-child(6) {
    left: -1px;
  }

  &::after {
    content: '';
    display: block;
    background-color: transparent;
    position: absolute;
  }

  &__spacer {
    border: none;
  }

  &__areaActive {
    &::after {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: var(--color--blue);
    }
  }

  &__subareaActive {
    $subareaOffset: 15%;
    &::after {
      top: $subareaOffset;
      left: $subareaOffset;
      bottom: $subareaOffset;
      right: $subareaOffset;
      background-color: var(--color--blue);
    }
  }
}
