.dock {
  margin-left: 2rem;
  bottom: -1rem;
  position: relative;
  display: inline-flex;
  column-gap: 1rem;
  opacity: 0;
  transition: opacity var(--transition--slow) ease;

  &__visible {
    opacity: 1;
  }

  @media screen and (max-width: 950px) {
    position: static;
    align-self: flex-end;
  }
}

.dockButton {
  height: var(--dock--size);
  width: var(--dock--size);
  background-color: var(--color--blue);
  position: relative;

  box-shadow:
    0.5rem -0.5rem 0px var(--color--white),
    0.5rem -0.5rem 0px 1px var(--color--blue);
  transition: box-shadow var(--transition--standard) ease;

  @media (hover: hover) {
    &:hover .dockButtonTooltip,
    &:focus-visible .dockButtonTooltip {
      opacity: 1;
      transform: translate(-50%, 100%);
    }
  }

  &:active {
    box-shadow:
      0.75rem -0.75rem 0px var(--color--white),
      0.75rem -0.75rem 0px 1px var(--color--blue);
  }
}

.dockButtonTooltip {
  bottom: -0.5rem;
  left: 50%;
  transform: translate(-50%, 80%);
  padding: 0.25rem;
  opacity: 0;
  transition:
    opacity var(--transition--standard) ease,
    transform var(--transition--standard) ease;
  font-family: var(--font--mono);
  min-width: 100%;
  font-size: 14px;
  position: absolute;
  background-color: var(--color--blue);
  color: var(--color--white);
  text-align: center;
  pointer-events: none;
}

.dockIcon {
  height: 2rem;
  width: 2rem;
  color: var(--color--white);
}
