@use 'scss-reset';

:root {
  --color--black: #0f0f0f;
  --color--blue: #0000ff;
  --color--white: #fff;
  --color--offwhite: #f5f5f5;

  --font--mono: 'Consolas', monospace;
  --font--serif: 'Domine', serif;

  --font-size--header: 2rem;

  --padding--small: 1rem;
  --padding--medium: 2rem;

  --logo--size: 3rem;

  --dock--size: 48px;

  --transition--fast: 0.15s;
  --transition--standard: 0.25s;
  --transition--slow: 0.5s;
}

html,
body,
#root {
  height: 100dvh;
  width: 100dvw;
  font-size: 16px;
  background-color: var(--color--black);
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 600px) {
    // Allow rem based values to scale down for smaller viewports
    font-size: 14px;
  }
}

.no-select {
  user-select: none;
}

a:focus-visible,
button:focus-visible {
  outline-width: 1px;
  outline-color: var(--color--blue);
  outline-style: dashed;
  outline-offset: 3px;
}
