@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: var(--color--black);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  border: 1px solid var(--color--blue);
  position: relative;
  max-width: 850px;
  width: 100%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color--white);
  font-family: var(--font--mono);
  opacity: 0;
  animation: fadeIn var(--transition--slow) ease forwards;
  animation-delay: var(--transition--fast);

  @media screen and (max-width: 600px) {
    padding: 1rem;
  }
}

.title {
  text-transform: uppercase;
  padding-bottom: var(--padding);
  font-weight: bold;
  letter-spacing: 0.1rem;
  position: relative;
  padding-bottom: 2.5rem;
  margin-bottom: 2rem;
  font-size: 1.25rem;
  color: var(--color--blue);
  width: 100%;
  text-align: center;

  &::after {
    content: '***';
    display: block;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.75rem;
    color: var(--color--blue);
    letter-spacing: 0.25rem;
  }

  @media screen and (max-width: 600px) {
    padding-bottom: 2rem;
    font-size: 1rem;

    &::after {
      font-size: 1.25rem;
    }
  }
}

.content {
  font-size: 1rem;
  color: var(--color--black);
  line-height: 1.15;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;

  & + & {
    margin-top: 1rem;
  }
}

.action {
  background-color: var(--color--white);
  padding: 0.5rem 1rem;
  color: var(--color--blue);
  border: 1px solid var(--color--blue);
  font-weight: bold;
  transition: all var(--transition--standard) ease;
  font-size: 1rem;
  margin-top: 1.5rem;

  @media (hover: hover) {
    &:hover,
    &:focus-visible {
      background-color: var(--color--blue);
      color: var(--color--white);
    }
  }
}

.mobileAdvisory {
  font-size: 0.875rem;
  color: var(--color--black);
  display: none;
  text-align: center;
  margin-top: 1.5rem;
  font-style: italic;

  @media screen and (max-width: 600px) {
    display: block;
  }
}
